body {
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  background-color: #F9FAFB; /* bg-gray-50 */
  color: #111827; /* text-gray-900 */
  overflow-x: hidden;
}

/* Hide scrollbars for a cleaner mobile-first UI */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}